PUERTO=3000

BD_HOST=localhost
BD_PUERTO=5432
BD_NOMBRE=ticketics
BD_USUARIO=postgres
BD_CONTRASENA=tu_contrasena_aqui

JWT_SECRETO=cambia_esto_por_algo_seguro

BREVO_API_KEY=tu_api_key_de_brevo
BREVO_REMITENTE_EMAIL=tu_correo@gmail.com
BREVO_REMITENTE_NOMBRE=TickeTics

FRONTEND_URL=https://tu-frontend.vercel.app
