:root {
  --blanco:      #ffffff;
  --lila:        #676fad;
  --azul-medio:  #424769;
  --azul-oscuro: #2d3250;
  --naranja:     #f9b17a;

  --fondo:       #f0f2f8;
  --texto:       #1a1a2e;
  --texto-claro: #ffffff;
  --borde:       #d1d5db;
  --sombra:      0 4px 20px rgba(45, 50, 80, 0.12);
  --radio:       10px;
}

* { box-sizing: border-box; margin: 0; padding: 0; }

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: var(--fondo);
  color: var(--texto);
}

a { text-decoration: none; color: inherit; }
